/* .iconcolor {
  background: #2b3241;
  border-radius: 6px;
  padding: 3px;
}
.main1 {
  width: 645px;
  height: 135px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0.75px 0.75px 4.5px 0px rgba(123, 97, 255, 0.25);
} */
